<div class="container">
  <div class="row">

	
	    <div class="col-md-2">
			<div class="list-group">
			<h5><span class="list-group-item">Name</span></h5>
			<%= text_field_tag(:user_name) %>
			<h5><span class="list-group-item">College</span></h5>
			<%= text_field_tag(:college_name) %>
			<h5><span class="list-group-item">Entrance Year</span></h5>
			<%= text_field_tag(:entrance_year) %>
			<h5><span class="list-group-item">Expected year of Graduation</span></h5>
			<%= text_field_tag(:expected_graduation_year) %>
			<h5><span class="list-group-item">Major</span></h5>
			<%= text_field_tag(:major) %>

			<br>

			<%= submit_tag 'Save', :id=> 'editprofile', :class => "btn btn-success"%> 

			</div>

  		</div>


  </div>

</div>












