
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Sign up</h3>
  </div>

  <div class="panel-body">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class ="input-group">
      <%= f.label :username %>
      <%= f.text_field :username, :autofocus => true, :class => "form-control", :placeholder => "Enter your username"%><br>

      <%= f.label :email %>
      <%= f.email_field :email, :class => "form-control", :placeholder => "Enter your email"%><br>

      <!-- New fields -->
      <%= f.label :name %>
      <%= f.text_field :name, :class => "form-control", :placeholder => "Enter your name"%><br>

      <br>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h5 class="panel-title">School Information</h5>
        </div>
        <div class="panel-body">
          <%= f.label :entrance_year %>
          <%= f.date_select :entrance_year, :start_year => Time.now.year - 2, :end_year => Time.now.year + 20, :discard_day => true, :discard_month => true %>
          <br>
          <%= f.label :expected_year %>
          <%= f.date_select :expected_year, :start_year => Time.now.year - 2, :end_year => Time.now.year + 20, :discard_day => true, :discard_month => true %>
          <br>
          <%= f.label :college %>
          <%= f.select :college, College.all.collect {|p| [ p.name] } %>
          <br>
          <%= f.label :major %>
          <%= f.select :major, Major.all.collect {|p| [p.name]} %>
        </div>
      </div>
      <!-- End of new fields -->

      <%= f.label :password %>
      <%= f.password_field :password, :class => "form-control", :placeholder => "Enter your password" %><br>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm your password" %>

    </div>
    <br>
    <%= f.submit "Sign up", :class=>'btn btn-primary' %>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>



