<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Forgot your password?</h3>
	</div>

	<div class="panel-body">

		<div class ="input-group">
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			<%= devise_error_messages! %>

			<div><%= f.label :email %><br />
				<%= f.email_field :email, :autofocus => true , :class => "form-control"%></div>
				<br>
				<div><%= f.submit "Send me reset password instructions" , :class => "btn btn-success"%></div>
				<% end %>

			</div>
		</div>
	</div>

