

<div class="container">
  <% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-8">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Requirements</h3>
        </div>
        <div class="panel-body">
          <%= form_tag profile_path, :method => :post, :id => 'requirements_form' do -%>
          <!--  University Requirements  -->     
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">University Requirements</h3>
            </div>
            <div class="panel-body">
              <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow= "60" aria-valuemin="0" aria-valuemax="100" style= "width: <%= @university_req_rate %>%" >
                  <span><strong><%= @university_req_rate %>% Completed</strong></span>
                </div>
              </div>

              <%= hidden_field_tag 'requirements[entry_level_writing]', 0 %>
              <%= check_box_tag "requirements[entry_level_writing]", 1, @user[:entry_level_writing], :id => "requirements_entry_level_writing" %>
              <%= 'Entry-Level Writing Satisfied' %>

              <br>
              <%= hidden_field_tag 'requirements[american_history_and_institutions]', 0 %>
              <%= check_box_tag 'requirements[american_history_and_institutions]', 1, @user[:american_history_and_institutions],:id => 'requirements_american_history_and_institutions' %>
              <%= 'American History and Institutions Satisfied' %>
            </div>
          </div>
          <!-- End of University Requirements -->

          <!-- Campus Requirements -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Campus Requirements</h3>
            </div>
            <div class="panel-body">
              <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow= "60" aria-valuemin="0" aria-valuemax="100" style= "width: <%= @campus_req_rate %>%" >
                  <span><strong><%= @campus_req_rate %>% Completed</strong></span>
                </div>
              </div>
              <%= hidden_field_tag 'requirements[american_cultures]', 0 %>
              <%= check_box_tag 'requirements[american_cultures]', 1, @user[:american_cultures], :id => 'requirements_american_cultures' %>
              <%= 'American Cultures Satisfied' %>
            </div>
          </div>
          <!-- End of Campus Requirements -->

          <!-- LS College Requirements -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">L&S College Requirements</h3>
            </div>
            <div class="panel-body">
              <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow= "60" aria-valuemin="0" aria-valuemax="100" style= "width: <%= @ls_college_req_rate %>%" >
                  <span><strong><%= @ls_college_req_rate %>% Completed</strong></span>
                </div>
              </div>

              <%= hidden_field_tag 'requirements[reading_and_composition]', 0 %>
              <%= check_box_tag 'requirements[reading_and_composition]', 1,@user[:reading_and_composition], :id => 'requirements_reading_and_composition' %>
              <%= 'Reading & Composition Requirements Satisfied' %>

              <br>
              <%= hidden_field_tag 'requirements[quantitative_reasoning]', 0 %>
              <%= check_box_tag 'requirements[quantitative_reasoning]', 1,@user[:quantitative_reasoning], :id => 'requirements_quantitative_reasoning' %>
              <%= 'Quantitative Reasoning Requirements Satisfied' %>

              <br>
              <%= hidden_field_tag 'requirements[foreign_language_breadth]', 0 %>
              <%= check_box_tag 'requirements[foreign_language_breadth]', 1,@user[:foreign_language_breadth], :id => 'requirements_foreign_language_breadth' %>
              <%= 'Foreign Language Requirements Satisfied' %>

              <div class="col-lg-9">
                <h5>Seven Breath Requirements</h5>
                <%= hidden_field_tag 'requirements[arts_and_literature]', 0 %>
                <%= check_box_tag 'requirements[arts_and_literature]', 1,@user[:arts_and_literature], :id => 'requirements_arts_and_literature' %>
                <%= 'Arts and Literature Satisfied' %>

                <br>
                <%= hidden_field_tag 'requirements[biological_science]', 0 %>
                <%= check_box_tag 'requirements[biological_science]', 1,@user[:biological_science], :id => 'requirements_biological_science' %>
                <%= 'Biological Science Satisfied' %>

                <br>
                <%= hidden_field_tag 'requirements[historical_studies]', 0 %>
                <%= check_box_tag 'requirements[historical_studies]', 1,@user[:historical_studies], :id => 'requirements_historical_studies'%>
                <%= 'Historical Studies Satisfied' %>

                <br>
                <%= hidden_field_tag 'requirements[international_studies]', 0 %>
                <%= check_box_tag 'requirements[international_studies]', 1,@user[:international_studies], :id => 'requirements_international_studies'%>
                <%= 'International Studies Satisfied' %>

                <br>
                <%= hidden_field_tag 'requirements[philosophy_and_values]', 0 %>
                <%= check_box_tag 'requirements[philosophy_and_values]', 1,@user[:philosophy_and_values], :id => 'requirements_philosophy_and_values' %>
                <%= 'Philosophy and Values Satisfied' %>

                <br>
                <%= hidden_field_tag 'requirements[physical_science]', 0 %>
                <%= check_box_tag 'requirements[physical_science]', 1,@user[:physical_science], :id => 'requirements_physical_science'%>
                <%= 'Physical Science Satisfied' %>

                <br>
                <%= hidden_field_tag 'requirements[social_and_behavioral_sciences]', 0 %>
                <%= check_box_tag 'requirements[social_and_behavioral_sciences]', 1,@user[:social_and_behavioral_sciences], :id => 'requirements_social_and_behavioral_sciences' %>
                <%= 'Social and Behavioral Sciences Satisfied' %>
              </div>
            </div>
          </div>
          <!-- End of LS College Requirements -->

          <!-- Major Requirements -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Major Requirements</h3>
            </div>
            <div class="panel-body">
              <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow= "60" aria-valuemin="0" aria-valuemax="100" style= "width: <%= @campus_req_rate %>%" >
                  <span><strong><%= @campus_req_rate %>% Completed</strong></span>
                </div>
              </div>

              <div class="col-lg-9">
                <h5>Lower Division Requirements</h5>
                <%= hidden_field_tag 'requirements[cs_sixtyonea]', 0 %>
                <%= check_box_tag 'requirements[cs_sixtyonea]', 1,@user[:cs_sixtyonea], :id => 'requirements_cs_sixtyonea' %>
                <%= 'CS 61A Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[cs_sixtyoneb]', 0 %>
                <%= check_box_tag 'requirements[cs_sixtyoneb]', 1,@user[:cs_sixtyoneb], :id => 'requirements_cs_sixtyoneb' %>
                <%= 'CS 61B Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[cs_sixtyonec]', 0 %>
                <%= check_box_tag 'requirements[cs_sixtyonec]', 1,@user[:cs_sixtyonec], :id => 'requirements_cs_sixtyonec' %>
                <%= 'CS 61C Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[math_onea]', 0 %>
                <%= check_box_tag 'requirements[math_onea]', 1,@user[:math_onea], :id => 'requirements_math_onea' %>
                <%= 'Math 1A Requirements Satisfied' %>              
                <br>
                <%= hidden_field_tag 'requirements[math_oneb]', 0 %>
                <%= check_box_tag 'requirements[math_oneb]', 1,@user[:math_oneb], :id => 'requirements_math_oneb' %>
                <%= 'Math 1B Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[math_fiftyfour]', 0 %>
                <%= check_box_tag 'requirements[math_fiftyfour]', 1,@user[:math_fiftyfour], :id => 'requirements_math_fiftyfour' %>
                <%= 'Math 54 Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[cs_seventy]', 0 %>
                <%= check_box_tag 'requirements[cs_seventy]', 1,@user[:cs_seventy], :id => 'requirements_cs_seventy' %>
                <%= 'CS 70 Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[ee_twenty]', 0 %>
                <%= check_box_tag 'requirements[ee_twenty]', 1,@user[:ee_twenty], :id => 'requirements_ee_twenty' %>
                <%= 'EE 20 Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[ee_fourty]', 0 %>
                <%= check_box_tag 'requirements[ee_fourty]', 1,@user[:ee_fourty], :id => 'requirements_ee_fourty' %>
                <%= 'EE 40 Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[ee_fourtytwo]', 0 %>
                <%= check_box_tag 'requirements[ee_fourtytwo]', 1,@user[:ee_fourtytwo], :id => 'requirements_ee_fourtytwo' %>
                <%= 'EE 42 Requirements Satisfied' %>
              </div>      

              <div class="col-lg-9">
                <h5>Upper Division Required Courses</h5>
                <%= hidden_field_tag 'requirements[cs_oneseventy]', 0 %>
                <%= check_box_tag 'requirements[cs_oneseventy]', 1,@user[:cs_oneseventy], :id => 'requirements_cs_oneseventy' %>
                <%= 'CS 170 Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[cs_onesixtytwo]', 0 %>
                <%= check_box_tag 'requirements[cs_onesixtytwo]', 1,@user[:cs_onesixtytwo], :id => 'requirements_cs_onesixtytwo' %>
                <%= 'CS 162 Requirements Satisfied' %>
              </div>      

              <div class="col-lg-9">
                <h5>Breadth Courses</h5>
                <%= hidden_field_tag 'requirements[cs_onefifty]', 0 %>
                <%= check_box_tag 'requirements[cs_onefifty]', 1,@user[:cs_onefifty], :id => 'requirements_cs_onefifty' %>
                <%= 'CS 150 Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[cs_onefiftytwo]', 0 %>
                <%= check_box_tag 'requirements[cs_onefiftytwo]', 1,@user[:cs_onefiftytwo], :id => 'requirements_cs_onefiftytwo' %>
                <%= 'CS 152 Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[cs_onesixty]', 0 %>
                <%= check_box_tag 'requirements[cs_onesixty]', 1,@user[:cs_onesixty], :id => 'requirements_cs_onesixty' %>
                <%= 'CS 160 Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[cs_onesixtyone]', 0 %>
                <%= check_box_tag 'requirements[cs_onesixtyone]', 1,@user[:cs_onesixtyone], :id => 'requirements_cs_onesixtyone' %>
                <%= 'CS 161 Requirements Satisfied' %>              
                <br>
                <%= hidden_field_tag 'requirements[cs_onesixtyfour]', 0 %>
                <%= check_box_tag 'requirements[cs_onesixtyfour]', 1,@user[:cs_onesixtyfour], :id => 'requirements_cs_onesixtyfour' %>
                <%= 'CS 164 Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[cs_onesixtynine]', 0 %>
                <%= check_box_tag 'requirements[cs_onesixtynine]', 1,@user[:cs_onesixtynine], :id => 'requirements_cs_onesixtynine' %>
                <%= 'CS 169 Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[cs_oneeightyfour]', 0 %>
                <%= check_box_tag 'requirements[cs_oneeightyfour]', 1,@user[:cs_oneeightyfour], :id => 'requirements_cs_oneeightyfour' %>
                <%= 'CS 184 Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[cs_oneeightysix]', 0 %>
                <%= check_box_tag 'requirements[cs_oneeightysix]', 1,@user[:cs_oneeightysix], :id => 'requirements_cs_oneeightysix' %>
                <%= 'CS 186 Requirements Satisfied' %>
                <br>
                <%= hidden_field_tag 'requirements[cs_oneeightyeight]', 0 %>
                <%= check_box_tag 'requirements[cs_oneeightyeight]', 1,@user[:cs_oneeightyeight], :id => 'requirements_cs_oneeightyeight' %>
                <%= 'CS 188 Requirements Satisfied' %>
              </div>   
            </div>
          </div>

          <!-- End of Major Requirements -->

          <%= submit_tag 'Save', :id => 'requirements_submit', :class => "btn btn-primary btn-block" %>  
          <% end -%>
        </div>
      </div>

      
      <%= link_to 'Generate Report', report_path, :id=> 'requirement_generate', :class =>"btn btn-success btn-block" %>

    </div>  

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Student Profile</h3>
        </div>

        <div class="panel-body">

          <div class="panel panel-default">
            <div class="panel-heading">Name</div>
            <div class="panel-body">
              <%= @user.name %>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">College</div>
            <div class="panel-body">
              <%= @user.college %>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Entrance Year</div>
            <div class="panel-body">
              <%= @user.entrance_year.year %>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Expected Year of Graduation</div>
            <div class="panel-body">
              <%= @user.expected_year.year %>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Major</div>
            <div class="panel-body">
              <%= @user.major %>
            </div>
          </div>

          <%= link_to 'Edit Information', edit_user_registration_path, :class => "btn btn-primary btn-block"%> 
        </div>
      </div>
    </div>
  </div>


<!--   <%= params %> -->