<div class="container">
	<div class="row">
		<div class="col-md-15">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Your Report</h3>
				</div>
				<div class="panel-body">
					<table class ="table table-striped table-bordered">
						<thead>
							<tr><th>University Requirements</th>
								<th>Entry Level Writing</th>
								<th>American History and Institutions</th>
							</tr>
						</thead>
						<tbody>							
							<% @university_courses.each do |course| %>
							<tr> 
								<td><%= course.name %></td>
								<td><%= "\u2714"  if course.instance_variable_get(:@entry_level_writing) %></td>
								<td><%= "\u2714"  if course.instance_variable_get(:@american_history_and_institutions) %></td>
							</tr>
							<% end %>
						</tbody>
					</table>

					<table class ="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Campus Requirements</th>
								<th>American Cultures</th>
							</tr>
						</thead>
						<tbody>							
							<% @campus_courses.each do |course| %>
							<tr> 
								<td><%= course.name %></td>
								<td><%= "\u2714"  if course.instance_variable_get(:@american_cultures) %></td>
							</tr>
							<% end %>
						</tbody>
					</table>

					<table class ="table table-striped table-bordered">
						<thead>
							<tr>
								<th>L&S College Requirements</th>

								<th>Reading & Composition</th>
								<th>Quantitative Reasoning</th>
								<th>Foreign Language</th>
							</tr>
						</thead>
						<tbody>							
							<% @ls_courses.each do |course| %>
							<tr> 
								<td><%= course.name %></td>
								<td><%= "\u2714"  if course.instance_variable_get(:@reading_and_composition) %></td>
								<td><%= "\u2714"  if course.instance_variable_get(:@quantitative_reasoning) %></td>
								<td><%= "\u2714"  if course.instance_variable_get(:@foreign_language_breadth) %></td>
							</tr>
							<% end %>
						</tbody>
					</table>

					<table class ="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Seven Breath</th>
								<th>Arts & Literature</th>
								<th>Biological Science</th>
								<th>Historical Studies</th>
								<th>International Studies</th>
								<th>Philosophy & Values</th>
								<th>Physical Science</th>
								<th>Social & Behavioral Sciences</th>
							</tr>
						</thead>
						<tbody>							
							<% @seven_breadth.each do |course| %>
							<tr> 
								<td><%= course.name %></td>
								<td><%= "\u2714"  if course.instance_variable_get(:@arts_and_literature) %></td>
								<td><%= "\u2714"  if course.instance_variable_get(:@biological_science) %></td>
								<td><%= "\u2714"  if course.instance_variable_get(:@historical_studies) %></td>
								<td><%= "\u2714"  if course.instance_variable_get(:@international_studies) %></td>
								<td><%= "\u2714"  if course.instance_variable_get(:@philosophy_and_values) %></td>
								<td><%= "\u2714"  if course.instance_variable_get(:@physical_science) %></td>
								<td><%= "\u2714"  if course.instance_variable_get(:@social_and_behavioral_sciences) %></td>
							</tr>
							<% end %>
						</tbody>
					</table>


					<table class ="table table-striped table-bordered"> 
						<thead>
							<tr><th> Lower Division Requirements</th></tr>
						</thead>
						<% @lower_division.each do |course| %>
						<tr><td><%= course.name  if course.present?%></td></tr>
						<% end %>
					</table>
					<table class ="table table-striped table-bordered"> 
						<thead>
							<tr><th>1 Upper Division Desgin Course</th></tr>
						</thead>
						<% @upper_design.each do |course| %>
						<tr><td><%= course.name  if course.present?%></td></tr>
						<% end %>
					</table>
					<table class ="table table-striped table-bordered"> 
						<thead>
							<tr><th>20 Units Upper Division CS/EE Courses</th></tr>
						</thead>
						<% @twenty_upper_division.each do |course| %>
						<tr><td><%= course.name  if course.present?%></td></tr>
						<% end %>
					</table>
					<table class ="table table-striped table-bordered"> 
						<thead>
							<tr><th>27 Units Total Upper Division Courses</th></tr>
						</thead>
						<% @twentyseven_upper_division.each do |course| %>
						<tr><td><%= course.name  if course.present?%></td></tr>
						<% end %>
					</table>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>

