<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>

<%= csrf_meta_tags %>

<%= stylesheet_link_tag    "style", :media => "all" %>
<%= stylesheet_link_tag    "layout", :media => "all" %>
<%= stylesheet_link_tag    "icc", :media => "all" %>

<script>
</script>
<script>


</script>
</head>
<body id="page1">
<div class="site_center">
  <!-- header  -->
  <!-- <div class="bg_logo"><img src="/assets/images/logo.png" alt="logo" /></div> -->
  <div class="bg_logo"><%= image_tag "logo.png" %></div>
<div class="menu">
      
      <ul class="navigation">
        <li><a href="#">What is this?</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Add a college</a></li>
      </ul>
  </div>
  <!-- content -->
  <div class="content">
                <!--left_col-->
    <div class="col_1">
      <%= yield %>
    </div>
  </div>


  

  
</div>
</body>
</html>

